.Form-Container{
    display: flex;
    justify-content: start;
    background-color: white;
    height: 130vh;
    width:25vw;
    border-radius: 7px;
    font-family: sans-serif;
    border-color: grey;
    border-style:solid;
    border-width: 1px;

}

.Container-Text{
    margin-left: 50px;
    
}


.Container-Text h6{
    color:#FAA0A0 ;
}

.Input-Container{
  padding: 15px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
  
}


.action-button{
  width: 100%;
  background: #F85757;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 20px 5px;
  margin: 10px 5px;
  margin-left: -20px;
}

.input-field{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #2C3E50;
  font-size: 13px;
  margin-left: -20px;
}

.Horizontal{
    margin-left: 0px;
    height: 1px;
    width:85%
}

.Agent-Card{
    display: flex;
}

.Agent-Card img{
    width:100px;
    height:100px;
    margin-left: -5%;
}

.Agent-Card p{
    font-size:small;
}

.Agent-Text{
    margin-left: 5%;
    margin-top:-5%;
}

.Phone{
    width: 5px;
    height: 5px;
}

.Apply-Button{
  width: 95%;
  background: white;
  font-weight: bold;
  color: black;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  cursor: pointer;
  padding: 20px 5px;
  margin: 10px 5px;
  margin-left: -20px;
  margin-top: 10%;
}