@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@500&display=swap");
.card-container {
  display: flex;
  flex-direction: column;
  width: 26em;
  height: 31.5rem;
  margin: 2rem 3.5rem;
  padding: 1rem;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 9px 0.7px rgba(0, 0, 0, 0.3);
  position: relative;
}
.card-container .card-image {
  display: flex;
  position: relative;
}
.card-container .card-image img {
  width: 100%;
  height: 250px;
  border-radius: 15px;
}
.card-container .card-image .left-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 3;
  top: 7rem;
  left: 0.5rem;
  background-color: rgba(255, 255, 255, 0.571);
  border-radius: 50%;
}
.card-container .card-image .left-arrow:hover {
  background-color: white;
  transition-duration: 0.5s;
  cursor: pointer;
}
.card-container .card-image .right-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  position: absolute;
  z-index: 3;
  top: 7rem;
  left: 22rem;
  background-color: rgba(255, 255, 255, 0.571);
  border-radius: 50%;
}
.card-container .card-image .right-arrow:hover {
  background-color: white;
  transition-duration: 0.5s;
  cursor: pointer;
}
.card-container .card-image-heart {
  position: absolute;
  z-index: 3;
  left: 21.5rem;
  top: 0.5rem;
  cursor: pointer;
  margin: 0;
}
.card-container .card-description {
  margin: 0 0.5rem;
}
.card-container .card-description h3 {
  padding: 0 0.2em;
  font-size: 18px;
}
.card-container .card-address {
  display: flex;
  align-items: flex-start;
}
.card-container .card-address p {
  width: 80%;
  font-size: 18px;
  margin: 0 0 0 0.5rem;
  color: #111827;
}
.card-container .card-icons {
  display: flex;
  align-items: center;
  width: 95%;
  margin-bottom: -1rem;
  margin-inline: auto;
  justify-content: space-between;
}
.card-container .card-icons-bed {
  display: flex;
  align-items: center;
}
.card-container .card-icons-bed p {
  font-size: 22px;
  font-weight: 400;
}
.card-container .card-icons-bath {
  display: flex;
  align-items: center;
}
.card-container .card-icons-bath p {
  font-size: 22px;
  font-weight: 400;
}
.card-container .card-icons-car {
  display: flex;
  align-items: center;
}
.card-container .card-icons-car p {
  font-size: 22px;
  font-weight: 400;
}
.card-container .card-icons-pet {
  display: flex;
  align-items: center;
}
.card-container .card-icons-pet p {
  font-size: 22px;
  font-weight: 400;
}
.card-container .card-price {
  display: flex;
  border-top: 1px solid #111827;
  align-items: center;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  margin: 1rem 0.5rem 0rem 0.5rem;
  padding-top: 1.5rem;
}

.card-image-dot {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 15rem;
  left: 11rem;
}