.listings-page{
    h1{
        width: fit-content;
        margin: auto;
        font-size: 66px;
        text-align: center;
        padding: 8rem 0 5rem 0;
    }
    &-filter{
        width: fit-content;
        margin: auto;
    }
}